<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DATN_CHUYEN_DE_REVITAPI.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DATN_CHUYEN_DE_REVITAPI.Settings1>
            <setting name="SingleStandardRebar" serializeAs="String">
                <value />
            </setting>
            <setting name="MultiStandardRebar" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StirruptRebar" serializeAs="String">
                <value />
            </setting>
            <setting name="DIMStyle" serializeAs="String">
                <value />
            </setting>
            <setting name="ViewTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="Elevation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewType" serializeAs="String">
                <value />
            </setting>
            <setting name="ViewTemplateMCN" serializeAs="String">
                <value />
            </setting>
        </DATN_CHUYEN_DE_REVITAPI.Settings1>
    </userSettings>
</configuration>